.gallery{
    display: grid;
    max-width: 880px;
    margin: 50px auto 0;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 20px 17px;
}
.gallery__frame{
    position: relative;
    width: 282px;
    height: 361px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.gallery__image{
    width: 100%;
    height: 282px;
    object-fit: cover;
}
.gallery__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 21px;
}
.gallery__text{
    color: #000;
    font-family: "Inter-black", sans-serif;
    font-size: 24px;
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
.gallery__button-heart{
    position: relative;
    background-image: url(../images/Heart-deactivated.svg);
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: #000;
    width: 21px;
    height: 19px;
    flex-shrink: 0;
}
.gallery__button-heart:hover{
    background-image: url(../images/Heart-hover.svg);
}
.gallery__button-heart.gallery__button-heart_liked{
    position: relative;
    background-image: url(../images/Heart-liked.svg);
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: #000;
    width: 21px;
    height: 19px;
    flex-shrink: 0; 
}
.gallery__button-heart.gallery__button-heart_liked:hover{
    position: relative;
    background-image: url(../images/Heart-liked.svg);
    background-color: transparent;
    cursor: pointer;
    border: none;
    color: #000;
    width: 21px;
    height: 19px;
    flex-shrink: 0; 
}
.gallery__button-delete{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    width: 18px;
    height: 19px;
    background-image: url(../images/Trash.svg);
    background-size: contain;
    background-repeat: repeat;
    cursor: pointer;
}
.gallery__button-delete:hover{
    background-image: url(../images/Trash-hover.svg);
    opacity: 60%;
}

@media screen and (min-width: 320px) and (max-width: 585px){
    .gallery{
        display: grid;
        max-width: 282px;
        margin: 36px auto 0;
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 585px) and (max-width: 880px){
    .gallery{
        display: grid;
        max-width: 585px;
        margin: 36px auto 0;
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        grid-gap: 20px 17px;
    }
}