.popup {
  display: none;
  position: fixed;
  z-index: 999;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.popup__show {
  display: flex;
  opacity: 1;
}
.popup__content {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}
.popup__content-title {
  color: #000;
  font-family: "Inter-black", sans-serif;
  font-size: 24px;
  line-height: 1;
  width: 330px;
  margin: 36px auto 0 36px;
}
.popup__form {
  display: flex;
  flex-direction: column;
  width: 358px;
  margin: 54px 36px 0;
  gap: 15px;
  font-family: "Inter-regular", sans-serif;
  color: #c4c4c4;
}
.popup__input {
  border: none;
  border-bottom: 1px solid #c4c4c4;
  height: 28px;
}

.popup__input-name {
  width: 100%;
  height: 27px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  font-size: 14px;
}
.popup__input-name::placeholder {
  position: absolute;
  top: 0px;
  left: 0px;
}
.popup__input-about {
  width: 100%;
  height: 27px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  font-size: 14px;
}
.popup__input-about::placeholder {
  position: absolute;
  top: 0px;
  left: 0px;
}
.popup__button-save {
  width: 100%;
  height: 50px;
  margin: 0px auto 50px;
  background-color: transparent;
  font-size: 18px;
  font-family: "Inter-regular", sans-serif;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  cursor: pointer;
}
.popup__button-save_active {
  width: 100%;
  height: 50px;
  margin: 18px auto 50px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
}
.popup__button-save_active:hover {
  opacity: 80%;
}
.popup__button-close {
  position: absolute;
  cursor: pointer;
  background-image: url(../images/Close-Icon.png);
  background-color: transparent;
  background-size: contain;
  border: none;
  width: 40px;
  height: 40px;
  right: -38px;
  top: -38px;
}
.popup__button-close:hover {
  opacity: 60%;
}
.popup__input-title {
  width: 100%;
  height: 27px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  font-size: 14px;
}
.popup__content-image {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 75vw;
  max-height: 75vh;
}
.popup__picture {
  max-width: 100%;
  max-height: 100%;
  border-radius: 16px;
  object-fit: contain;
}
.popup__caption {
  margin-top: 10px;
  color: #fff;
  font-size: 12px;
  font-family: "Inter-regular", sans-serif;
}

.popup__error {
    visibility: hidden;
    min-height: 14px;
}
.popup__error_visible {
  visibility: visible;
  color: red;
  font-size: 12px;
  min-height: 14px;
}

.popup__input_type_error {
  border-bottom: 1px solid red;
}

.popup__button_disabled {
  background-color: #e5e5e5;
  color: #a0a0a0;
  cursor: not-allowed;
}
@media screen and (min-width: 320px) and (max-width: 585px) {
  .popup__content {
    width: 282px;
    height: 322px;
  }
  .popup__content-title {
    width: 238px;
    font-size: 18px;
    margin: 25px auto 0 22px;
  }
  .popup__form {
    width: 238px;
    margin: 76px 22px 0;
  }
  .popup__button-save {
    width: 238px;
    height: 46px;
    margin: 16px auto 25px;
  }
  .popup__button-save_active {
    width: 238px;
    height: 46px;
    margin: 16px auto 25px;
  }
  .popup__button-close {
    width: 26px;
    height: 26px;
    top: -50;
    right: 0;
  }
}
@media screen and (min-width: 585px) and (max-width: 880px) {
  .popup__content {
    width: 350px;
  }
  .popup__content-title {
    width: 270px;
  }
  .popup__form {
    width: 270px;
  }
  .popup__button-save {
    width: 270px;
  }
  .popup__button-save_active {
    width: 270px;
  }
  .popup__button-close {
    width: 30px;
    height: 30px;
    top: -30px;
    right: -30px;
  }
}
